<div class="main">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <div class="row">
                <div class="col-lg-12 bg-dark">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <button class="btn btn-sm btn-primary">Open Account</button>
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-sm btn-primary">fund account</button>
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-sm btn-primary">Balance</button>
                </div>

            </div>
        </div>
    </div>
</div>